main {
    width: 100%;
    height: auto;
    }
    
    body {
      padding-bottom: 100px;
      padding-left: 200px;
      padding-right: 200px;
      background-color:rgb(255, 255, 198);
      margin: 0 auto;
    }
    
    #hotdawgpic {
        width: 100%;
        height: 10vw;
    }
    
    
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
    
    h1 {
        font-size: 30px; 
        text-align: center;
        padding-top: 1%;
    }
    
    h3 {
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 25px;
        text-align: center;
    }
    
    #foundercard {
        background-color: rgb(255, 235, 147);
        text-align: center;
        padding-top: 1%;
    }

    #allfoundercards {
        padding: 3%;
    }